.addTask{
    display: flex;
    justify-content: center;
}
.task-massage{
    width: 500px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    transition: .5s;
    border-color: #6c757d;
    &::placeholder {
        font-size: 20px;
        transition: color 0.1s ease-in-out;
        color: #6c757d;
    }
    &:hover,
		&:focus {
			border-color: #000408;
            cursor: pointer;
            box-shadow: 0 0 5pt 2pt #000000;
            outline-width: 0px;

			&::placeholder {
				color: transparent;
			}
		}
}

.task-send{
    border: 3px solid #3a7999;
    background: #777777;
    color: #f2f2f2;
    padding: 5px;
    font-size: 20px;
    border-radius: 20px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
    display: block;
    cursor: pointer;
    margin-left: 10px;
    &:hover {
        border: 3px solid #3a7999;
        color: #3a7999;
        background: rgba(0,0,0,0);
    }
    &:active {
        transform: translateY(5px);
        transition: .2s; 
      }
}

.form{
    display: flex;
}